<ul class="navbar-nav ml-auto">
    @if (User.Identity.IsAuthenticated || true)
    {
        @await Component.InvokeAsync("Notifications")
        @await Component.InvokeAsync("UserMenu")
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>
