<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="userNotifikace" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#128276;</a>
    <div class="dropdown-menu bg-secondary mb-3" aria-labelledby="userNotifikace">
        <span class="dropdown-item bg-secondary text-white" href="#">Nemáte žádné nepřečtené zprávy.</span>
    </div>
</li>
