@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    @await Component.InvokeAsync("Example", new { param = "Param1" })
</div>

<div>
    @await Component.InvokeAsync("Example", new { param = "Param2" })
</div>
